@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Pacifico&display=swap');


.dark body {
  background-color: #141414 !important;
}

.light body {
  background-color: #ffffff !important;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
}

input {
  border: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-apperarance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  padding: 0px;
  resize: none;
  width: 100%;
  overflow: hidden;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.svg-illustration-1 svg {
  height: 20rem !important;
  width: 20rem !important;
}

.svg-illustration-2 svg {
  height: 15rem !important;
  width: 15rem !important;
}

.svg-illustration-3 svg {
  height: 10rem !important;
  width: 10rem !important;
}

.svg-illustration-4 svg {
  height: 7.5rem !important;
  width: 7.5rem !important;
}

.svg-illustration-5 svg {
  height: 5rem !important;
  width: 5rem !important;
}

.svg-illustration-6 svg {
  height: 3.75rem !important;
  width: 3.75rem !important;
}

.svg-illustration-7 svg {
  height: 2.5rem !important;
  width: 2.5rem !important;
}

.svg-illustration-8 svg {
  height: 2rem !important;
  width: 2rem !important;
}

.svg-illustration-9 svg {
  height: 1.75rem !important;
  width: 1.75rem !important;
}

.svg-icon-1 svg {
  height: 1.75rem !important;
  width: 1.75rem !important;
}

.svg-icon-2 svg {
  height: 1.5rem !important;
  width: 1.5rem !important;
}

.svg-icon-3 svg {
  height: 1.35rem !important;
  width: 1.35rem !important;
}

.svg-icon-4 svg {
  height: 1.25rem !important;
  width: 1.25rem !important;
}

.svg-icon-5 svg {
  height: 1.15rem !important;
  width: 1.15rem !important;
}

.svg-icon-6 svg {
  height: 1.075rem !important;
  width: 1.075rem !important;
}

.svg-icon-7 svg {
  height: 1rem !important;
  width: 1rem !important;
}

.svg-icon-8 svg {
  height: 0.95rem !important;
  width: 0.95rem !important;
}

.svg-icon-9 svg {
  height: 0.9rem !important;
  width: 0.9rem !important;
}

.button-type-text:before {
  transition: 0.15s ease-in-out;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(90deg, #7047eb 0%, #b447eb 95%);
  border-radius: 10px;
  position: absolute;
  z-index: -1;
  top: -2px;
  left: -2px;
  content: "";
  opacity: 0;
}

.ngx-charts .gridline-path {
  stroke: gray !important;
  opacity: 0.5 !important;
}

.ngx-charts .line-highlight {
  display: block !important;
}

.background-animate {
  background-size: 400%;
  -webkit-animation: bgAnimation 6s ease infinite;
  -moz-animation: bgAnimation 6s ease infinite;
  animation: bgAnimation 6s ease infinite;
}

.background-animate-fast {
  background-size: 400%;
  -webkit-animation: bgAnimation 3s ease infinite;
  -moz-animation: bgAnimation 3s ease infinite;
  animation: bgAnimation 3s ease infinite;
}

.background-animate-fast-hover:hover {
  background-size: 400%;
  -webkit-animation: bgAnimation 3s ease infinite;
  -moz-animation: bgAnimation 3s ease infinite;
  animation: bgAnimation 3s ease infinite;
}

.dark input[type="date"] {
  color-scheme: dark;
}

div .svg-icon svg {
  pointer-events: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@keyframes bgAnimation {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}


.sentiment-positive {
	background-color: #22c55e !important;
	color: #000;
}

.sentiment-negative {
	background-color: #ef4444 !important;
	color: #000;
}

.sentiment-neutral {
	background-color: #facc15 !important;
	color: #000;
}

.bg-rainbow {
	background: linear-gradient(
		to right,
		#ef4444,
		#f59e0b,
		#84cc16,
		#14b8a6,
		#06b6d4,
		#3b82f6,
		#8b5cf6
	);
}

.bg-rainbow-opacity-50 {
  background: linear-gradient(
    to right,
    #fca5a5,
    #fcd34d,
    #bef264,
    #5eead4,
    #5eead4,
    #93c5fd,
    #c4b5fd
  );
}

.iubenda {
  @apply flex flex-row gap-x-1 bg-white dark:bg-zinc-800 text-black dark:text-white shadow-sm shadow-black/10 dark:shadow-black rounded-lg px-2 py-1.5 text-xs font-semibold ring-1 ring-zinc-900/10 dark:ring-zinc-50/20;
}

